.nav-bar{
    display: flex;
    justify-content: flex-end;
    background: grey;
    margin: 0;

    .link-wrapper{
        display: flex;
        width: 55%;
        justify-content: space-evenly;
        align-items: flex-end;
        color: white;
        padding: 13px 0;
        .link {
            cursor: pointer;
            padding:6px 6px;
        }
        .link:hover{
            background: white;
            color: grey;
        }

    }
}
